name: first workflow
on:
  push:
    branches:
      - main

jobs:
  example_job:
    runs-on: ubuntu-latest
    
    steps:
      - name: echo first job
        run: echo "This is the first job in the first githubaction workflow"

      - name: checkout this repo on runner
        uses: actions/checkout@v5.0.0

      - name: list repo files
        run: ls -lrta
    
    
