on:
    push:
        branches:
            - main
            - "release/**"
        paths:
            - "src/**"

    pull_request:
        branches:
            - main
            - "release/**"
        paths:
            - "src/**"

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Set up Node.js
              uses: actions/checkout@v2

            - name: Run tests
              run: npm test
